* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
  color: #444;
}

.add-cart,
.details-title,
.shipping,
.product-title {
  text-transform: uppercase;
}

.details-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
}

.price {
  font-weight: bold;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
}

.add-cart {
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: default;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: white;
  color: black;
}

.more-info:link,
.more-info:visited {
  color: #444;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

h2 {
  position: relative;
}

h2::before {
  content: "SALE";
  letter-spacing: 2px;
  background-color: #e64444;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  padding: 5px 15px;
  position: absolute;
  top: -15px;
  left: -30px;
}

.color-container {
  margin: 30px 0;
}

.color-1 {
  display: inline-block;
  border: 2px solid black;
  background-color: black;
  padding: 10px;
  margin-right: 10px;
}

.color-2 {
  display: inline-block;
  border: 2px solid blue;
  background-color: blue;
  padding: 10px;
  margin-right: 10px;
}

.color-3 {
  display: inline-block;
  border: 2px solid red;
  background-color: red;
  padding: 10px;
  margin-right: 10px;
}

.color-4 {
  display: inline-block;
  border: 2px solid yellow;
  background-color: yellow;
  padding: 10px;
  margin-right: 10px;
}

.color-5 {
  display: inline-block;
  border: 2px solid green;
  background-color: green;
  padding: 10px;
  margin-right: 10px;
}

.color-6 {
  display: inline-block;
  border: 2px solid brown;
  background-color: brown;
  padding: 10px;
}
